<div class="footer-content">
    <div class="footer-links">
        <a class="social" target=_blank href="<%= generals[0].fragments['facebook-url'].value %>"><img src="images/facebook.png"></a>
        <a class="social" target=_blank href="<%= generals[0].fragments['twitter-url'].value %>"><img src="images/twitter.png"></a>
        <a class="social" target=_blank href="<%= generals[0].fragments['flickr-url'].value %>"><img src="images/flickr.png"></a>
        <h1>Recent Fit Tips</h1>
        <ul>
            <% fittips[0..2].each do |fit_tip| %>
                <li>
                    <%= link_to fit_tip.fragments['title'].value, "/fit-tips/#{fit_tip.slugs[0]}.html" %>
                </li>
            <% end %>
        </ul>
        <%= link_to 'See all Fit Tips...', '/fit-tips.html' %>
        <h1>Quick Links</h1>
        <ul>
            <li><%= link_to 'Home', '/index.html' %></li>
            <% races.each do |race| %>
                <li><%= link_to race.fragments['name'].as_html(nil), "/#{race.uid}.html" %></li>
            <% end %>
            <li><%= link_to 'Fit Tips', '/fit-tips.html' %></li>
            <li><%= link_to 'Sponsors', '/sponsors.html' %></li>
            <li><%= link_to 'Results', '/results.html' %></li>
            <li><%= link_to 'About Us', '/about-us.html' %></li>
        </ul>
        <a href="<%= generals[0].fragments['register_link'].url %>" target="_blank"><button>REGISTER NOW</button></a>
        <div class="email-link">
            SAY HELLO:
            <a href="mailto:<%= generals[0].fragments['contact-email-address'].value %>">
                <%= generals[0].fragments['contact-email-address'].value %>
            </a>
        </div>
    </div>
    <div class="footer-text">
        <%= generals[0].fragments['footer_text'].as_html(nil) %>
        <div id="flickr"></div>
    </div>
</div>
<div class="footer-credits">
    © <%= Time.now.year %> Get It Dunn 5k &amp; Half Marathon | Menomonie, WI | Designed by <a target=_blank href="http://www.kismetbydesign.com">Kismet By Design</a> and <a target=_blank href="http://crushingpennies.com">Crushing Pennies</a>
</div>
<script>
    window.initFlickr("<%= generals[0].fragments['flickr-user-id'].value %>",
                      "<%= generals[0].fragments['flickr-album-id'].value %>",
                      6)
</script>
