<nav>
    <%= link_to 'Home', '/index.html' %>
    <%= link_to 'FAQ', '/faq.html' %>
    <% races.each do |race| %>
        <%= link_to race.fragments['title'].as_html(nil), "/#{race.uid}.html" %>
    <% end %>
    <%= link_to 'Schedule', '/schedule.html' %>
    <%# link_to 'Blog', '/blog.html' %>
    <%= link_to 'Sponsors', '/sponsors.html' %>
    <%= link_to 'Results', '/results.html' %>
    <%= link_to 'About Us', '/about-us.html' %>
</nav>
