<% wrap_layout :base do %>
    <div class="hero" style="background-image: url(<%= homes[0].fragments['image'].main.url %>)">
        <img class="logo" src="<%= generals[0].fragments['logo'].main.url %>">
        <% if homes[0].fragments['overlay'] %>
            <h1><%= homes[0].fragments['overlay'].as_html(nil) %></h1>
        <% end %>
        <% if generals[0].fragments['register_link'] && !generals[0].fragments['register_link'].url.blank? %>
            <h1 class="register">
            REGISTER NOW !
                <a href="<%= generals[0].fragments['register_link'].url %>" target="_blank"><button>5K AND HALF</button></a>
                <a href="https://endurancecui.active.com/new/events/83180633/forms?_p=9839077609544737" target="_blank"><button>KIDS FUN RUN</button></a>
            </h1>
        <% end %>
    </div>
    <header>
        <%= partial('header', :locals => current_page.data) %>
    </header>
    <%= yield %>
<% end %>
