---
title: Fit Tip
---

<div class="outer">
    <article>
        <h1><%= fit_tip.fragments['title'].as_html(nil) %></h1>
        <%= fit_tip.fragments['author_name'].as_html(nil) %>
        <% if fit_tip.fragments['date'] %> /
            <time datetime="<%= fit_tip.fragments['date'].value.iso8601(3) %>">
                <%= fit_tip.fragments['date'].value.strftime('%B %e, %Y') %>
            </time>
        <% end %>
        <% if fit_tip.fragments['text'] %>
            <%= fit_tip.fragments['text'].as_html(nil) %>
        <% else %>
            No text.
        <% end %>
        <div class="byline">
            <% if fit_tip.fragments['author_image'] %>
                <img src="<%= fit_tip.fragments['author_image'].main.url %>">
            <% end %>
            <% if fit_tip.fragments['author_byline'] %>
                <%= fit_tip.fragments['author_byline'].as_html(nil) %>
            <% end %>
        </div>
    </article>
    <%= disqus %>
</div>
