---
title: Welcome!
---

<% content_for :above_header do %>
    <div class="hero" style="background-image: url(<%= homes[0].fragments['image'].main.url %>)">
        <img class="logo" src="<%= generals[0].fragments['logo'].main.url %>">
        <% if homes[0].fragments['overlay'] %>
            <h1><%= homes[0].fragments['overlay'].as_html(nil) %></h1>
        <% end %>
        <h1 class="register">
            <a href="<%= generals[0].fragments['register_link'].url %>" target="_blank"><button>CLICK TO REGISTER!</button></a>
        </h1>
    </div>
<% end %>

<div class="outer">
    <%= homes[0].fragments['page_text'].as_html(nil) %>
</div>
