---
title: Race Information
---

<% content_for :above_header do %>
    <div class="hero" style="background-image: url(<%= homes[0].fragments['image'].main.url %>); height: 180px;">
        <img class="logo" src="<%= generals[0].fragments['logo'].main.url %>">
        <% if homes[0].fragments['overlay'] %>
            <h1><%= homes[0].fragments['overlay'].as_html(nil) %></h1>
        <% end %>
        <% if !generals[0].fragments['register_link'].url.blank? %>
            <h1 class="register">
                <a href="<%= generals[0].fragments['register_link'].url %>" target="_blank"><button>REGISTER NOW</button></a>
            </h1>
        <% end %>
    </div>
<% end %>

<div class="race">
    <div class="outer">
        <h1><%= race.fragments['title'].as_html(nil) %></h1>
        <%= link_to 'Race Results', "/results.html" %>
    </div>
    <div class="outer">
        <%= race.fragments['details'].as_html(nil) %>
    </div>
    <!-- wrap map iframe to turn off mouse scroll and turn it back on on click -->
    <% if race.fragments['route'] %>
        <div class="map-wrap">
            <div class="overlay" onClick="style.pointerEvents='none'"></div>
                <iframe class="map" src="https://www.google.com/maps/d/embed?mid=<%= race.fragments['route'].value %>" frameBorder="0"></iframe>
            </div>
        </div>
    <% end %>
</div>
