---
title: Results
---

<div class="results">
    <div class="outer">
        <h1>Race Results</h1>
        <div class="jump">
            Jump to:
            <% results.sort! { |a,b| a.fragments['year'].value <=> b.fragments['year'].value }.reverse!.each do |result| %>
                <a href="#<%= result.fragments['year'].value.round %>">
                    <%= result.fragments['year'].value.round %>
                </a>
            <% end %>
        </div>
        <% results.sort! { |a,b| a.fragments['year'].value <=> b.fragments['year'].value }.reverse!.each do |result| %>
            <a name="<%= result.fragments['year'].value.round %>">
                <h1><%= result.fragments['year'].value.round %></h1>
                <% if result.fragments['resultsurl'] %>
                    <iframe width="618" height="384" frameborder="0" src="<%= result.fragments['resultsurl'].url %>"></iframe>
                <% end %>
                <% if result.fragments['extra-race-content'] %>
                    <%= result.fragments['extra-race-content'].as_html(nil) %>
                <% end %>
            </a>
        <% end %>
    </div>
</div>
