---
title: Sponsors
---

<% @level_sponsors = sponsors.group_by {|s| s.fragments['level'].value} %>

<div class="outer">
    <% if sponsorships[0].fragments['title-text'] %>
        <h1><%= sponsorships[0].fragments['title-text'].value %></h1>
    <% end %>
    <div class="level-links">
        <% if @level_sponsors.has_key? 'Platinum' %>
            <a class="platinum" href="#platinum">Platinum</a>
        <% end %>
        <% if @level_sponsors.has_key? 'Gold' %>
            <a class="gold" href="#gold">Gold</a>
        <% end %>
        <% if @level_sponsors.has_key? 'Silver' %>
            <a class="silver" href="#silver">Silver</a>
        <% end %>
        <% if @level_sponsors.has_key? 'Bronze' %>
            <a class="bronze" href="#bronze">Bronze</a>
        <% end %>
        <% if @level_sponsors.has_key? 'Friend' %>
            <a class="friends" href="#friends">Friends</a>
        <% end %>
    </div>

    <% if sponsorships[0].fragments['top-text'] %>
        <%= sponsorships[0].fragments['top-text'].as_html(nil) %>
    <% end %>

    <% if @level_sponsors.has_key? 'Platinum' %>
        <h1><a name="platinum">Platinum</a></h1>
        <ul class="sponsors-list platinum">
            <% @level_sponsors['Platinum'].each do |sponsor| %>
                <li class="sponsor">
                    <%= partial('sponsor', :locals => { :sponsor => sponsor }) %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @level_sponsors.has_key? 'Gold' %>
        <h1><a name="gold">Gold</a></h1>
        <ul class="sponsors-list gold">
            <% @level_sponsors['Gold'].each do |sponsor| %>
                <li class="sponsor">
                    <%= partial('sponsor', :locals => { :sponsor => sponsor }) %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @level_sponsors.has_key? 'Silver' %>
        <h1><a name="silver">Silver</a></h1>
        <ul class="sponsors-list silver">
            <% @level_sponsors['Silver'].each do |sponsor| %>
                <li class="sponsor">
                    <%= partial('sponsor', :locals => { :sponsor => sponsor }) %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @level_sponsors.has_key? 'Bronze' %>
        <h1><a name="bronze">Bronze</a></h1>
        <ul class="sponsors-list bronze">
            <% @level_sponsors['Bronze'].each do |sponsor| %>
                <li class="sponsor">
                    <%= partial('sponsor', :locals => { :sponsor => sponsor }) %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <% if @level_sponsors.has_key? 'Friend' %>
        <h1><a name="friends">Friends</a></h1>
        <ul class="sponsors-list friends">
            <% @level_sponsors['Friend'].each do |sponsor| %>
                <li class="sponsor">
                    <%= partial('sponsor', :locals => { :sponsor => sponsor }) %>
                </li>
            <% end %>
        </ul>
    <% end %>

    <a name="become-a-sponsor"></a>
    <% if sponsorships[0].fragments['become-a-sponsor'] %>
        <%= sponsorships[0].fragments['become-a-sponsor'].as_html(reference) %>
    <% end %>
</div>
